body {
  font-family: "SUIT";
  font-weight: 300;
  background-color: black;
  /* color: rgba(255, 0, 255, 0.5); */
  color: hsla(110, 100%, 100%, 1);
  /* color: hsla(hue, saturation, lightness, alpha); */
}

* {
  color: inherit;
}

/* 클래스 선택자 */
.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

ul.menu{
	margin: 0;
	padding-left: 0;
  color: #f00;
}

/* 아이디 선택자 */
#demo {
  border: red 2px solid;
}